---
layout: default
---
{% comment %}
<div>
{% comment %}
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>
{% endcomment %}

<table><tbody><tr><td>
<img src="assets/img/fps2019-photowall-15.jpg" alt="alt text" height="250px">&nbsp;</td>
<td align="left">
    <h1 class="post-title">
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
    </h1>
<p> <span class="font-weight-bold">{{site.designation}}</span><br>
<a href="https://cse.uta.edu/">{{site.department}}</a><br>
{{site.affiliation}}<br>
{{site.address}}<br>

Email: mislam[AT]uta[dot]edu<br>
Office: {{site.office}}</p>
<div>
  <tdalt><a href="assets/pdf/CV_Mohammad_Islam.pdf" target="_blank"><img src="assets/img/cv.png" height="25"> </a></tdalt>
  <tdalt><a href="https://scholar.google.com/citations?user=rxKWd1cAAAAJ&amp;hl=en" target="_blank"><img src="assets/img/google_scholar3.jpg" height="25"> </a></tdalt>
  <tdalt><a href="https://dblp.uni-trier.de/pers/hd/i/Islam_0001:Mohammad_A=" target="_blank"><img src="assets/img/dblp.jpg" height="25"> </a></tdalt>
  <tdalt><a href="https://www.researchgate.net/profile/Mohammad_Islam87" target="_blank"><img src="assets/img/researchgate.jpg" height="25"> </a></tdalt>
  <tdalt><a href="https://orcid.org/0000-0002-5778-4366" target="_blank"><img src="assets/img/orcid-logo.jpg" height="25"> </a></tdalt>
</div>
</td></tr></tbody></table>

<p></p>
</div>
{% endcomment %}


<div class="post">
  <article>
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.15}}px, (min-width: 133px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    <div class="clearfix">
    <div>
      <h1 class="post-title">
              <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
          </h1>
      <p> <span class="font-weight-bold">{{site.designation}}</span><br>
      <a href="https://cse.uta.edu/">{{site.department}}</a><br>
      {{site.affiliation}}<br>
      {{site.address}}<br>
      
      Email: mislam[AT]uta[dot]edu<br>
      Office: {{site.office}}</p>
      <div>
        <tdalt><a href="assets/pdf/CV_Mohammad_Islam.pdf" target="_blank"><img src="assets/img/cv.png" height="25"> </a></tdalt>
        <tdalt><a href="https://scholar.google.com/citations?user=rxKWd1cAAAAJ&amp;hl=en" target="_blank"><img src="assets/img/google_scholar3.jpg" height="25"> </a></tdalt>
        <tdalt><a href="https://dblp.uni-trier.de/pers/hd/i/Islam_0001:Mohammad_A=" target="_blank"><img src="assets/img/dblp.jpg" height="25"> </a></tdalt>
        <tdalt><a href="https://www.researchgate.net/profile/Mohammad_Islam87" target="_blank"><img src="assets/img/researchgate.jpg" height="25"> </a></tdalt>
        <tdalt><a href="https://orcid.org/0000-0002-5778-4366" target="_blank"><img src="assets/img/orcid-logo.jpg" height="25"> </a></tdalt>
      </div>

    </div>
    {{ content }}


    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    {% comment %}
    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}
    {% endcomment %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
